@model StockMarketPredection.Models.Company

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <section class="section register min-vh-200 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 d-flex flex-column align-items-center justify-content-center">
                    <div class="card mb-3 w-100">
                        <div class="card-body">
                            <form class="row g-3" asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="col-12">
                                    <label asp-for="Name" class="form-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label asp-for="Symbol" class="form-label"></label>
                                    <input asp-for="Symbol" class="form-control" />
                                    <span asp-validation-for="Symbol" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label asp-for="CategoryId" class="form-label"></label>
                                    <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.CategoryId"></select>
                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
