@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Market Prediction</title>

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/Logo.png" rel="icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">

</head>

<body>

    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex justify-content-between">
            <div class="logo">
                <a asp-controller="Home" asp-action="Index"><img src="~/img/Logo.png" alt="" class="img-fluid"></a>
            </div>

            <nav id="navbar" class="navbar">
                @if (User.Identity.IsAuthenticated)
                {
                    if(User.FindFirstValue(ClaimTypes.Email) == "Admin@StockMarket.com")
                    {
                        <ul>
                            <li><a class="nav-link scrollto" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a class="nav-link scrollto" asp-controller="Companies" asp-action="Index">Companies Management</a></li>
                            <li><a class="nav-link scrollto" asp-controller="Accounts" asp-action="Profile">My Profile</a></li>
                            <li><a class="nav-link scrollto" asp-controller="Accounts" asp-action="LogOut">Log Out</a></li>

                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                    }
                    else
                    {
                        <ul>
                            <li><a class="nav-link scrollto" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a class="nav-link scrollto" asp-controller="Market" asp-action="Index">Analyze Market</a></li>
                            <li><a class="nav-link scrollto" asp-controller="Accounts" asp-action="Profile">My Profile</a></li>
                            <li><a class="nav-link scrollto" asp-controller="Accounts" asp-action="LogOut">Log Out</a></li>

                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                    }
                }
                else
                {
                    <ul>
                        <li><a class="nav-link scrollto" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a class="nav-link scrollto" asp-controller="Home" asp-action="AboutUs">About Us</a></li>
                        <li><a class="nav-link scrollto" asp-controller="Home" asp-action="ContactUs">Contact Us</a></li>
                        <li><a class="nav-link scrollto" asp-controller="Accounts" asp-action="Login">Log In</a></li>
                        <li><a class="nav-link scrollto" asp-controller="Accounts" asp-action="Register">Register</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                }
            </nav><!-- .navbar -->

        </div>
    </header>

    <div>
        <main role="main" id="main">
            @RenderBody()
        </main>
    </div>

    <!-- ======= Footer ======= -->
    <footer id="footer">

        @* <div class="footer-top">

        <div class="container">

        <div class="row justify-content-center">
        <div class="col-lg-3">
        <span> <a asp-controller="Home" asp-action="Index"><img src="~/img/footer-logo.png" alt="" class="img-fluid"></a></span>
        </div>
        </div>


        </div>
        </div> *@

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Stock Market Prediction</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/vendor/aos/aos.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
