@{
    ViewData["Title"] = "AboutUs";
}

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-xl-6 col-lg-6 video-box d-flex justify-content-center align-items-center" data-aos="zoom-in">
                <img src="~/img/About.png" class="img-fluid" style="max-height: 50%;" />
            </div>

            <div class="col-xl-6 col-lg-6 d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <div class="box-heading" data-aos="fade-up">
                    <h4>About this projct</h4>

                    <p>
                        With My project, i dedicated to revolutionizing the way investors navigate the financial markets. Utilizing cutting-edge artificial intelligence and data analysis, I am provide accurate and timely predictions to help my clients make informed investment decisions. my mission is to empower both novice and seasoned investors with the tools and insights they need to succeed in a fast-paced, ever-changing market. With a commitment to transparency, innovation, and excellence, my project stands at the forefront of financial technology, guiding our clients toward a prosperous future.
                    </p>
                </div>

            </div>
        </div>

    </div>
</section><!-- End About Section -->

<!-- ======= Team Section ======= -->
<section id="team" class="team">

    <div class="container">

        <div class="section-title" data-aos="zoom-in">
            <h2>Meet Our Team</h2>
        </div>

    </div>

    <div class="container">

        <div class="row">
            <div class="col-3">
                <div class="team-card">
                
             
            </div>
           
            </div>
            <div class="col-3">
                <div class="team-card">
                    <img src="~/img/woman (5).png" alt="Member 3" class="team-img">
                    <h3>Shahad Abdullah</h3>
                </div>
         
                </div>
            </div>
        </div>
    

</section><!-- End Team Section -->